{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react", "plugin:import/errors", "plugin:import/warnings"],
  "env": {
    "browser": true,
    "es6": true
  },
  "ecmaVersion": 2015,
  "sourceType": "module",
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./build/webpack.development.config.js"
      }
    }
  },
  "globals": {
    "DEVMODE": false
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "rules": {
    "jsx-quotes": [2, "prefer-double"]
  }
}
